{
  "extends": "@antfu",
  "overrides": [
    {
      "rules": {
        "curly": "off",
        "operator-linebreak": "off",
        "@typescript-eslint/indent": "off",
        "@typescript-eslint/brace-style": "off"
      },
      "files": "packages/**/*.ts"
    }
  ]
}
